<!DOCTYPE html>
<html>
  <head>
    <title>Amii</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
	<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
	<script>
		if (annyang) {
  		// Let's define a command.
  		var command1 = {
    		'on': function() { 
    	   responsiveVoice.speak("switching 21 on");
         $( "#21_on" ).trigger( "click" );
        }
  		};
  		var command2 = {
    		'off': function() { 
         responsiveVoice.speak("switching 21 off");
         $( "#21_off" ).trigger( "click" );
        }
  		};

  // Add our commands to annyang
  annyang.addCommands(command1);
  annyang.addCommands(command2);

  // Start listening.
  annyang.start();
}
</script>
</body>
</html>
